.hamburger{
    display: block;
    width: 15px;
    height: 2px;
    margin: 3px 1px;
    background-color: #0dcaf0;
    border-radius: 5px;
}

.btn:hover{
    .hamburger{
        background-color: #f8f9fa;
    }
}

.card-text{
    text-align: justify;
}

h6{
    font-size: 0.8rem;
}

.anchor{
    width: 15px;
    height: 15px;
    transform: rotate(225deg);
}

[class*="cr-img-"]{
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .carousel-caption{
        backdrop-filter: brightness(30%);
    }
}

.cr-img-1{
    background-image: url(./img/pexels-lj-2085831.jpg);
}

.cr-img-2{
    background-image: url(./img/pexels-matheus-bertelli-16027811.jpg);
}

.cr-img-3{
    background-image: url(./img/pexels-pavel-danilyuk-8438923.jpg);
}